#  ˝æ›‘¥≈‰÷√
spring:
  profiles:
    active: core,dao
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.0.102:3306/dubbo_demo?characterEncoding=utf-8&useSSL=false

    type: com.zaxxer.hikari.HikariDataSource

    hikari:
      minimum-idle: 5
      maximum-pool-size: 30
      auto-commit: true
      connection-test-query: select 1
      connection-timeout: 30000

mybatis:
  mapper-locations:  classpath:mapper/*.xml
  type-aliases-package: com.demo.dao.po